<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="/" class="navbar-brand">Ravintolat</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/ravintolat" class="nav-link">ETSI RAVINTOLA</a>
        </li>
        <li class="nav-item">
          <a href="/add" class="nav-link">LISÄÄ RAVINTOLA</a>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app'
  }
</script>

<style>
  @import 'components/css/ravintola.css';

</style>

