body {
    background-image: url("https://isorepublic.com/wp-content/uploads/2018/11/isorepublic-restaurant-dinner-1-1-1100x733.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.lisaa-ravintola, #ravintolantiedot {
    margin-top: 15px;
    padding: 10px 25px 10px 25px;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 40px;
}
.lisaa-ravintola {
    max-width: 600px;
    margin: auto;
    margin-bottom: 40px;
}
input[type="checkbox"]{
    background-color: #343a40;
}

#ravintolalista {
    background-color: whitesmoke;

}

input[type="text"] {
    margin: auto;
    background-color: lightgray;
    max-width: 300px;
}

label {
    color: #343a40;
    font-size: 1em;
    margin: 2px 0 2px 0;
}

#tyyliotsikko {
    margin-left: -10px;
    font-size: 1.5em;
}

#hintaotsikko {
    margin-left: -10px;
    font-size: 1.5em;
}

#hintatasot {
    margin: 15px;
    display: inline-flex;
}

.radionappi {
    margin-left: 15px;
    margin-right: 5px;
}

#tyyli {
    font-size: 1em;
}

fieldset {
    background-color: ghostwhite;
}

#ravintola-table table{
    margin: 25px 25px 25px 25px;
    background-color: rgba(255,217,46,0.71);
}

#navigaatio {
    display: inline-flex;
    background-color: rgba(255,217,46,0.71);
}

.onnistui {
    color: coral;
    background-color: #343a40;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border: none;
}
.lomakeryhma{
    margin: 20px;
}

.hakunappi{
    color: coral;
    background-color: #343a40;
    padding: 7px;
    border: none;
    margin-right: 5px;
}

.hakukenttä{
    padding: 7px;
    width: 390px;
    border: none;
    border-radius: 0.25rem;
}
.ravintolat{
    margin: auto;
    padding: 30px;
    background-color: rgba(255,255,255,0.7);
    margin-top: 40px;
    width: 570px;
}
.col-md-6{
    margin: auto;
    width: 600px;
}
.col-md-6 label{
    padding: 4px;
    text-align: left;

}
#ravintolantiedot{
    max-width: 600px;
}

.poistakaikki{
    color: #343a40;
    margin-top: 30px;
    background-color: coral;
    padding: 10px;
    font-weight: bold;
    border: none;
}
.badge-warning{
    background-color: coral;
    padding: 10px;
}
.edit-form{
    margin: auto;
    padding: 30px;
    background-color: rgba(255,255,255,0.7);
    margin-top: 40px;
    margin-bottom: 40px;
    width: 600px;
    text-align: center;
}
.badge-danger{
    padding: 10px;
}
.badge-success {
    padding: 10px;
}

.list-group-item.active{
    background-color: coral;
    border-color: coral;
}
h4{
    color: #343a40;
    margin-bottom: 30px;
}
.navbar-dark .navbar-brand{
    color: coral;
}
.navbar{
    border-bottom: coral solid 4px;
}
input:invalid {
    border: 1px solid coral;
}
#etusivuOtsikko {
    padding-top: 100px;
    margin: 20px;
    color: white;
    font-weight: bold;
    font-size: 70px;
}
.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#tekijat {
    margin-top: 50px;
    color: coral;
}
@media screen and (max-width: 400px) {
    .column {
        width: 50%;
    }
}
.haeKaikki{
    color: coral;
    background-color: #343a40;
    padding: 7px;
    border: none;
}
optgroup, select, input{
    margin: 6px;
}
#tyyli {
    background-color: lightgray;
    width: 60%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
option{
    margin: 4px;
    font-size: 15px;
}
#etusivulodju {
    color: #343a40;
    background-color: rgba(255,255,255,0.7);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    max-width: 600px;
}
#etusivu {
    width: 100%;
}

.badge-danger {
    color: #343a40;
    background-color: coral;
}

.badge-success {
    color: coral;
    background-color: #343a40;
}

.lomake-kontrolli {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}