<template>
    <div id="etusivu">
        <h1 id="etusivuOtsikko">TERVETULOA RAVINTOLAHAKUPALVELUUN</h1>
        <div id="etusivulodju">
        <p>Tällä sivulla voit lisätä ja hakea ravintoloita tietokannasta.</p>
        <p id="tekijat">Tekijät:</p>

        <div class="row">
            <div class="column">Reija Parvio</div>
            <div class="column">Jensina Hakkarianen</div>
            <div class="column">Roni Kuikka</div>
        </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Etusivu",
    }
</script>

<style scoped>

</style>