<template>
    <div v-if="currentRavintola" class="edit-form">
        <h4>Ravintola</h4>
        <form>
            <div class="form-group">
                <label for="nimi">Nimi</label>
                <input type="text" class="form-control" id="nimi"
                       v-model="currentRavintola.nimi"
                />
            </div>
            <div class="form-group">
                <label for="osoite">Osoite</label>
                <input type="text" class="form-control" id="osoite"
                       v-model="currentRavintola.osoite"
                />
            </div>
            <div class="form-group">
                <label for="postinumero">Postinumero</label>
                <input type="text" class="form-control" id="postinumero"
                       v-model="currentRavintola.postinumero"
                />
            </div>
            <div class="form-group">
                <label for="kaupunki">Kaupunki</label>
                <input type="text" class="form-control" id="kaupunki"
                       v-model="currentRavintola.kaupunki"
                />
            </div>
            <div class="form-group">
                <label for="puhelinnumero">Puhelinnumero</label>
                <input type="text" class="form-control" id="puhelinnumero"
                       v-model="currentRavintola.puhelinnumero"
                />
            </div>
            <div class="form-group">
                <label for="nettisivut">Nettisivut</label>
                <input type="text" class="form-control" id="nettisivut"
                       v-model="currentRavintola.nettisivut"
                />
            </div>
            <div class="lomakeryhma">
                <label for="tyyli">Tyyli</label><br>
                <select id="tyyli" name="tyylit" v-model="currentRavintola.tyyli">
                    <option value="Buffet">Buffet</option>
                    <option value="Fine dining">Fine dining</option>
                    <option value="Intialainen">Intialainen</option>
                    <option value="Italialainen">Italialainen</option>
                    <option value="Japanilainen">Japanilainen</option>
                    <option value="Kaakkoisaasialainen">Kaakkoisaasialainen</option>
                    <option value="Kiinalainen">Kiinalainen</option>
                    <option value="Kreikkalainen">Kreikkalainen</option>
                    <option value="Pikaruoka">Pikaruoka</option>
                    <option value="Pizzeria">Pizzeria</option>
                    <option value="Tex-Mex">Tex-Mex</option>
                    <option value="Muu">Muu</option>
                </select>
            </div>

            <!--Lisätty hintataso + kotiinkuljetus muokattavaksi-->
            <div class="form-group">
                <div label="Hintataso">Hintataso:<br>
                    <label for="edullinen">Edullinen</label>
                    <input type="radio" id="edullinen" value="Edullinen" v-model="currentRavintola.hintataso"><br>
                    <label for="keskitaso">Keskitaso</label>
                    <input type="radio" id="keskitaso" value="Keskitaso" v-model="currentRavintola.hintataso"><br>
                    <label for="kallis">Kallis</label>
                    <input type="radio" id="kallis" value="Kallis" v-model="currentRavintola.hintataso">
                </div>
            </div>

            <div class="form-group">
                <label for="kotiinkuljetus">Kotiinkuljetus</label>
                <input true-value="Kyllä" false-value="Ei" type="checkbox" id="kotiinkuljetus" v-model="currentRavintola.kotiinkuljetus">
            </div>
        </form>

        <button class="badge badge-danger mr-2"
                @click="deleteRavintola"
        >
            Poista
        </button>

        <button type="submit" class="badge badge-success"
                @click="updateRavintola"
        >
            Päivitä
        </button>
        <p>{{ message }}</p>
    </div>

    <div v-else>
        <br />
        <p>Please click on a Tutorial...</p>
    </div>
</template>

<script>
    import RavintolaDataServices from "../services/RavintolaDataServices";

    export default {
        name: "ravintola",
        data() {
            return {
                currentRavintola: null,
                message: ''
            };
        },
        methods: {
            getRavintola(id) {
                RavintolaDataServices.get(id)
                    .then(response => {
                        this.currentRavintola = response.data;
                        console.log(response.data);
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },

            updateRavintola() {
                RavintolaDataServices.update(this.currentRavintola.id, this.currentRavintola)
                    .then(response => {
                        console.log(response.data);
                        this.message = 'Ravintolan tietoja muokattu onnistuneesti.';
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },

            deleteRavintola() {
                RavintolaDataServices.delete(this.currentRavintola.id)
                    .then(response => {
                        console.log(response.data);
                        this.$router.push({ name: "ravintolat" });
                    })
                    .catch(e => {
                        console.log(e);
                    });
            }
        },
        mounted() {
            this.message = '';
            this.getRavintola(this.$route.params.id);
        }
    };
</script>

<style>
    @import 'css/ravintola.css';

</style>