<template>
    <div id="ravintola-lista">
        <div id="hakukenttä">
            <!-- Ravintolan hakeminen, myös enter-painikkeella -->
            <input class="hakukenttä" v-on:keyup.enter="haeRavintola" type="text" placeholder="Etsi ravintolaa nimellä" v-model="nimi"/>
            <button class="hakunappi" @click="haeRavintola">Hae</button>
            <!--Voi heti näyttää ravintolat, ei tarvitse hakea "tyhjää"-->
            <button class="haeKaikki" @click="listaaRavintolat">Hae kaikki ravintolat</button>
        </div>

        <div id="ravintoloidenTiedot">
            <div class="ravintolat">
                <h4>Ravintolat</h4>
                <p v-if="ravintolat.length < 1" class="empty-table">
                    Ei ravintoloita
                </p>
                <ul id="ravintolalista" class="list-group">
                    <li class="list-group-item"
                        :class="{ active: index == currentIndex }"
                        v-for="(ravintola, index) in ravintolat"
                        :key="index"
                        @click="asetaNykyinenRavintola(ravintola, index)"
                    >
                        {{ ravintola.nimi }}
                    </li>
                </ul>

                <button class="poistakaikki" @click="poistaRavintolat">
                    Poista kaikki ravintolat
                </button>
            </div>
            <div class="col-md-6">
                <div id="ravintolantiedot" v-if="currentRavintola">
                    <h4>Ravintola</h4>
                    <div>
                        <label><strong>Nimi:</strong></label> {{ currentRavintola.nimi }}
                    </div>
                    <div>
                        <label><strong>Lähiosoite:</strong></label> {{ currentRavintola.osoite }}
                    </div>
                    <div>
                        <label><strong>Postinumero:</strong></label> {{ currentRavintola.postinumero }}
                    </div>
                    <div>
                        <label><strong>Kaupunki:</strong></label> {{currentRavintola.kaupunki}}
                    </div>
                    <div>
                        <label><strong>Puhelinnumero:</strong></label> {{currentRavintola.puhelinnumero}}
                    </div>
                    <div>
                        <label><strong>Nettisivut:</strong></label> {{currentRavintola.nettisivut}}
                    </div>
                    <div>
                        <label><strong>Tyyli:</strong></label> {{currentRavintola.tyyli}}
                    </div>
                    <div>
                        <label><strong>Hintataso:</strong></label> {{currentRavintola.hintataso}}
                    </div>
                    <div>
                        <label><strong>Kotiinkuljetus:</strong></label>
                        {{currentRavintola.kotiinkuljetus}}
                    </div>

                    <a class="badge badge-warning" :href="'/ravintolat/' + currentRavintola.id">
                        Muokkaa
                    </a>
                </div>

            </div>
        </div>
    </div>
</template>

<script>

    import RavintolaDataServices from "../services/RavintolaDataServices";

    export default {
        name: "ravintola-lista",
        data() {
            return {
                ravintolat: [],
                muokataan: null,
                currentRavintola: null,
                currentIndex: -1,
                nimi: ""
            }
        },
        methods: {
            listaaRavintolat() {
                RavintolaDataServices.getAll()
                    .then(response => {
                        this.ravintolat = response.data;
                        console.log(response.data);
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            paivitaLista() {
                this.listaaRavintolat();
                this.currentRavintola = null;
                this.currentIndex = -1;
            },

            asetaNykyinenRavintola(ravintola, index) {
                this.currentRavintola = ravintola;
                this.currentIndex = index;
            },

            poistaRavintolat() {
                RavintolaDataServices.deleteAll()
                    .then(response => {
                        console.log(response.data);
                        this.paivitaLista();
                    })
                    .catch(e => {
                        console.log(e);
                    })
            },
            haeRavintola() {
                RavintolaDataServices.findByTitle(this.nimi)
                    .then(response => {
                        this.ravintolat = response.data;
                        console.log(response.data);
                    })
                    .catch(e => {
                        console.log(e);
                    });
            }
        },
        mounted() {
            this.listaaRavintolat();
        }
    };
</script>

<style scoped>
    @import 'css/ravintola.css';

</style>