<template>
    <div class="lisaa-ravintola">
        <div v-if="!submitted">
            <div class="lomakeryhma">
                <label for="nimi">Nimi</label><br>
                <input
                        type="text"
                        class="lomake-kontrolli"
                        id="nimi"
                        required
                        v-model="ravintola.nimi"
                        name="nimi"
                        pattern="[a-zA-Z0-9\s]{1,}"
                        title="Ravintolan nimi"
                        placeholder="Ravintola"
                />
            </div>

            <div class="lomakeryhma">
                <label for="osoite">Katuosoite</label><br>
                <input
                        type="text"
                        class="lomake-kontrolli"
                        id="osoite"
                        required
                        v-model="ravintola.osoite"
                        name="osoite"
                        pattern="[a-zA-Z0-9\s]{1,}"
                        title="Ravintolan katuosoite"
                        placeholder="Ravintolatie 1"
                />
            </div>

            <div class="lomakeryhma">
                <label for="postinumero">Postinumero</label><br>
                <input
                        type="text"
                        class="lomake-kontrolli"
                        id="postinumero"
                        required
                        v-model="ravintola.postinumero"
                        name="postinumero"
                        pattern="[0-9]{5}"
                        title="Postinumero koostuu viidestä numerosta"
                        placeholder="01650"
                />
            </div>

            <div class="lomakeryhma">
                <label for="kaupunki">Kaupunki</label><br>
                <input
                        type="text"
                        class="lomake-kontrolli"
                        id="kaupunki"
                        required
                        v-model="ravintola.kaupunki"
                        name="kaupunki"
                        pattern="[A-Za-z]{1,}"
                        title="Kaupungin nimi"
                        placeholder="Vantaa"
                />
            </div>

            <div class="lomakeryhma">
                <label for="puhelinnumero">Puhelinnumero</label><br>
                <input
                        type="text"
                        class="lomake-kontrolli"
                        id="puhelinnumero"
                        required
                        v-model="ravintola.puhelinnumero"
                        name="puhelinnumero"
                        pattern="[0-9]{7,}"
                        title="Puhelinnumero, vähintään 7 numeroa"
                        placeholder="0501234567"
                />
            </div>

            <div class="lomakeryhma">
                <label for="nettisivut">Nettisivut</label><br>
                <input
                        type="text"
                        class="lomake-kontrolli"
                        id="nettisivut"
                        required
                        v-model="ravintola.nettisivut"
                        name="nettisivut"
                        pattern="www.+"
                        title="esim. www.nettisivut.fi"
                        placeholder="www.nettisivut.fi"
                />
            </div>

            <div class="lomakeryhma">
                <label for="tyyli">Tyyli</label><br>
                <select id="tyyli" name="tyylit" v-model="ravintola.tyyli">
                    <option value="Buffet">Buffet</option>
                    <option value="Fine dining">Fine dining</option>
                    <option value="Intialainen">Intialainen</option>
                    <option value="Italialainen">Italialainen</option>
                    <option value="Japanilainen">Japanilainen</option>
                    <option value="Kaakkoisaasialainen">Kaakkoisaasialainen</option>
                    <option value="Kiinalainen">Kiinalainen</option>
                    <option value="Kreikkalainen">Kreikkalainen</option>
                    <option value="Pikaruoka">Pikaruoka</option>
                    <option value="Pizzeria">Pizzeria</option>
                    <option value="Tex-Mex">Tex-Mex</option>
                    <option value="Muu">Muu</option>
                </select>
            </div>

            <div class="lomakeryhma">
                <radio label="Hintataso">Hintataso<br>
                    <label for="edullinen">Edullinen</label>
                    <input type="radio" id="edullinen" value="Edullinen" v-model="ravintola.hintataso">
                    <label for="keskitaso">Keskitaso</label>
                    <input type="radio" id="keskitaso" value="Keskitaso" v-model="ravintola.hintataso">
                    <label for="kallis">Kallis</label>
                    <input type="radio" id="kallis" value="Kallis" v-model="ravintola.hintataso">
                </radio>

            </div>

            <div class="lomakeryhma">

                <label for="kotiinkuljetus">Kotiinkuljetus</label>
                <input true-value="Kyllä" false-value="Ei" type="checkbox" id="kotiinkuljetus"
                       v-model="ravintola.kotiinkuljetus">
            </div>
            

            <button @click="tallennaRavintola" class="onnistui">Lisää</button>
        </div>

        <div v-else>
            <h4>✅ Ravintolan lisäys onnistui!</h4>
            <button class="onnistui" @click="uusiRavintola">Lisää uusi</button>
        </div>
    </div>
</template>


<script>
    import RavintolaDataServices from "../services/RavintolaDataServices";

    export default {
        name: 'ravintola-lomake',
        data() {
            return {
                ravintola: {
                    id: null,
                    nimi: '',
                    osoite: '',
                    postinumero: '',
                    kaupunki: '',
                    puhelinnumero: '',
                    nettisivut: '',
                    tyyli: '',
                    hintataso: '',
                    kotiinkuljetus: ''
                },
                submitted: false
            };
        },

        methods: {
            tallennaRavintola() {
                var data = {
                    nimi: this.ravintola.nimi.charAt(0).toUpperCase() + this.ravintola.nimi.slice(1),
                    osoite: this.ravintola.osoite.charAt(0).toUpperCase() + this.ravintola.osoite.slice(1),
                    postinumero: this.ravintola.postinumero,
                    kaupunki: this.ravintola.kaupunki.charAt(0).toUpperCase() + this.ravintola.kaupunki.slice(1),
                    puhelinnumero: this.ravintola.puhelinnumero,
                    nettisivut: this.ravintola.nettisivut,
                    tyyli: this.ravintola.tyyli,
                    hintataso: this.ravintola.hintataso,
                    kotiinkuljetus: this.ravintola.kotiinkuljetus
                };
                console.log(data);

                RavintolaDataServices.create(data).then(response => {
                    this.ravintola.id = response.data.id;
                    console.log(response.data);
                    this.submitted = true;
                })
                    .catch(e => {
                        console.log(e);
                    });
            },

            uusiRavintola() {
                this.submitted = false;
                this.ravintola = {};
            }
        }
    };
</script>

<style scoped>
    @import 'css/ravintola.css';

</style>